.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: inline-block;
  text-align: center;
}

.imageContainer {
  display: inline-flex;
  justify-content: center;
}

.computerImage {
  width: 40%;
}

h1 {
  font-family: Roboto regular 32px;
  color: azure;
}
